.vagrant
.DS_store
sdkman
/.ssh

# Projects
/Projects/fit/hello/target
/Projects/fit/hello/.*

/Projects/fit/desafio-imposto/target
/Projects/fit/desafio-imposto/.*

/Projects/fit/desafio-imc/target
/Projects/fit/desafio-imc/.*

/Projects/fit/desafio-oo/target
/Projects/fit/desafio-oo/.*



# Clone repos
/Projects/fit/challenge-a1-Menosse/
/Projects/fit/desafio-imposto-de-renda-grupo6/
/Projects/fit/java-spend-oo/